* {
    padding: 0;
    margin: 0;
    font-family: "Arial";
    font-size: 14px;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #e7e7e7;
    justify-content: space-between;
}

h1 {
    font-size: 40px;
}

main {
    width: auto;
    display: grid;
    text-align: center;
    justify-items: center;
    gap: 50px;
    padding-top: 30px;
}

ul {
    display: block;
    width: fit-content;
    list-style: none;
    box-shadow: #444444 10px 10px;
}

li {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    min-width: 600px;
    margin: 5px;
    padding: 5px;
    border: solid #acacac 1px;
    border-radius: 5px;
    background-color: white;
}

#parking-slot-list {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    align-content: center;
    margin: 5px;
    padding: 5px;
    border: solid #acacac 1px;
}

#parking-slot-list span {
    font-weight: normal;
}

#parking-slot-list section {
    display: grid;
    justify-self: right;
    flex-direction: column;
}

a {
    align-content: center;
    margin: 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}

p {
    margin: 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}

.title {
    align-content: center;
    text-align: start;
    align-content: center;
    font-weight: bold;
}

.edit {
    color: white;
    background-color: #2a86c0;
    border-radius: 5px;
    align-self: center;
}

.delete {
    color: white;
    background-color: #e35959;
    border-radius: 5px;
    align-self: center;
}

.add {
    padding: 10px 15px;
    width: fit-content;
    color: white;
    background-color: #4db63f;
    border-radius: 5px;
}

.return {
    margin: 10px;
    display: inline-block;
    padding: 10px 15px;
    width: fit-content;
    color: white;
    background-color: #444444;
    border-radius: 5px;
}

input {
    padding: 5px 10px;
    border: #acacac solid 1px;
    border-radius: 5px;
}

button {
    justify-self: center;
    border-style: none;
    margin: 10px 100px;
    grid-column-start: 2;
    cursor:pointer;
}

form {
    width: auto;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
}

form p {
    justify-self: right;
    grid-column-start: 0;
    grid-column-end: 2;
}

form #error-message {
    grid-column-start: 2;
    justify-self: center;
    color: #e35959;
}
