<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<main>
    <article id="error-container">
        <h1 style="color: #e35959" th:text="${status + ' ' + error}"/>
        <p th:text="${timestamp}" />
        <p th:text="${message}" />
        <p th:text="${exception}" />
        <a class="return" th:href="@{/redirect}">Back</a>
    </article>
</main>
</body>
</html>