<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>

<main>

    <h1>Login</h1>

    <form method="post" th:action="@{/authenticate}" th:object="${authRequest}">
        <p>Email</p>
        <input autocomplete="on" autofocus placeholder="Email" required th:field="*{username}" type="email"/>
        <p>Password</p>
        <input placeholder="Password" required th:field="*{password}" type="password"/>
        <button class="add" type="submit" value="Sign In">Sign In</button>
    </form>

</main>
<a class="return" th:href="@{/tl_users/create}">Go to Register</a>
</body>
</html>
