<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<main>
    <h1>Parking Lots</h1>

    <ul class="list">
        <th:block th:each="parkingLot: ${parkingLots}">
            <li class="list_objects">
                <a class="title" th:href="@{/tl_parking_lots/{id}(id=${parkingLot.getId()})}" th:text="${parkingLot.name}"></a>
                <a class="edit" th:href="@{/tl_parking_lots/edit/{id}(id=${parkingLot.getId()})}">EDIT</a>
                <a class="delete" sec:authorize="hasRole('ADMIN')"
                   th:href="@{/tl_parking_lots/delete/{id}(id=${parkingLot.getId()})}">DELETE</a>
            </li>
        </th:block>
    </ul>
    <a class="add" sec:authorize="hasRole('ADMIN')" th:href="@{/tl_parking_lots/add}">Add new parking lot</a>
</main>
<a class="return" th:href="@{/redirect}">User page</a>
</body>
</html>