<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add parking slot</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<main>

    <h1> Add parking slot</h1>

    <form method="post" th:action="@{/tl_parking_lots/{lotId}/slots/add (lotId=${lotId})}" th:object="${parkingSlot}">
        <p id="error-message" th:if="${constrainException}">Constrain Exception</p>
        <p>Name</p><input name="name" th:field="*{name}" type="text"/>
        <p>Electric charge</p> <input th:field="*{electricCharge}" type="checkbox"/>

        <button class="add" type="submit">Create</button>
    </form>
</main>
<a class="return" th:href="@{/tl_parking_lots/{id} (id = ${lotId})}">Back</a>
<a class="logout" th:href="@{/logout}">Log out</a>
</body>
</html>