<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<main>

    <h1 th:text="${parkingLot.name()}"></h1>

    <form method="post" th:action="@{/tl_parking_lots/edit}" th:object="${parkingLot}">

        <p>Name: </p>
        <input name="name" th:field="*{name}" type="text"/>
        <input id="lot-name-input" name="id" readonly th:field="*{id}" hidden="hidden" type="text"/>
        <p id="error-message" th:if="${constrainException}">Constrain Exception</p>

        <button class="add" type="submit" name="teest">Update</button>
    </form>

</main>
<a class="return" th:href="@{/tl_parking_lots}">Back</a>
</body>
</html>