<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<main>
    <h1 th:text="${parkingLot.name()}"></h1>
    <form method="post" th:action="@{/tl_parking_lots/edit}" th:object="${parkingLot}">
        <ul>
            <li>
                <td>Name</td>
                <td hidden="hidden"><input name="id" readonly th:field="*{id}" type="text"/></td>
                <td><input name="name" th:field="*{name}" type="text"/></td>
            </li>
        </ul>
        <p th:if="${constrainException}">Constrain Exception</p>
        <button class="add" type="submit">Update</button>
    </form>
</main>
</body>
</html>