<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<form method="post" th:action="@{/tl_parking_lots/add}" th:object="${parkingLot}">
    <table>
        <tr>
            <td>Name</td>
            <td><input name="name" th:field="*{name}"
                       type="text"/></td>
        </tr>
    </table>
    <input type="submit" value="Update"/>
</form>
</body>
</html>