<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<main>

    <h1 th:text="${parkingSlot.getName()}"></h1>

    <form method="post" th:action="@{/tl_parking_lots/{lotId}/slot/edit (lotId=${lotId})}" th:object="${parkingSlot}">

        <p id="error-message" th:if="${constrainException}">Constrain Exception</p>

        <p hidden>Id<input name="id" readonly th:field="*{id}" type="text"/></p>
        <p>Name</p> <input name="name" th:field="*{name}" type="text"/>
        <p>Electric charge</p> <input name="electricCharge" th:field="*{electricCharge}" type="checkbox"/>

        <button class="add" type="submit" value="Update">Update</button>

    </form>

</main>
<a class="return" th:href="@{/tl_parking_lots/{id} (id = ${lotId})}">Back</a>
</body>
</html>