<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parking slots</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<main>

    <h1 th:text="${parkingLot.getName()}"></h1>

    <ul>
        <th:block th:each="parkingSlot: ${parkingLot.getParkingSlots()}">
            <li id="parking-slot-list">
                <div class="title">
                    <p>Slot name: <span th:text="${parkingSlot.name}"/></p>
                    <p>Type: <span th:text="${parkingSlot.getElectricCharge()}  ? 'Charge':'No charge'"/></p>
                    <p th:if="${parkingSlot.user != null}">User: <span th:text="${parkingSlot.user.getName()}"/></p>
                    <p th:unless="${parkingSlot.user != null}">No user</p>
                </div>
                <section>
                    <a class="edit"
                       th:href="@{/tl_parking_lots/{lotId}/slot/{slotId}/edit (slotId=${parkingSlot.getId()}, lotId=${parkingLot.getId()})}">Edit</a>
                    <a class="delete"
                       th:href="@{/tl_parking_lots/{lotId}/slots/{slotId}/remove (lotId=${parkingLot.getId()}, slotId=${parkingSlot.getId()})}">Remove
                        user</a>
                    <a class="delete"
                       th:href="@{/tl_parking_lots/{lotId}/slot/{slotId}/delete (slotId=${parkingSlot.getId()}, lotId=${parkingLot.getId()})}">Delete
                        slot</a>
                </section>
            </li>
        </th:block>
    </ul>

    <a class="add" th:href="@{/tl_parking_lots/{lotId}/slots/add (lotId=${parkingLot.getId()})}">New slot</a>

</main>
<a class="return" th:href="@{/tl_parking_lots}">Back</a>
<a class="logout" th:href="@{/logout}">Log out</a>
</body>
</html>