<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parking slots</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<h1 th:text="${parkingLot.name()}"></h1>
<ul>
    <th:block th:each="parkingSlot: ${parkingLot.parkingSlots()}">
        <li>
            <p>
                <span th:text="${parkingSlot.name}"></span>
                <span th:text="${parkingSlot.electricCharge}  ? 'Charge':'No charge'"></span>
                <span th:if="${parkingSlot.user != null}" th:text="${parkingSlot.user.name()}"></span>
                <span th:unless="${parkingSlot.user != null}">No user</span>
            </p>
            <a th:href="@{/tl_parking_lots/{lotId}/slots/{slotId}/remove (lotId=${parkingLot.id()}, slotId=${parkingSlot.id()})}">REMOVE
                USER</a>
            <a th:href="@{/tl_parking_lots/{lotId}/slot/{slotId}/edit (slotId=${parkingSlot.id()}, lotId=${parkingLot.id()})}">EDIT
                SLOT</a>
            <a th:href="@{/tl_parking_lots/{lotId}/slot/{slotId}/delete (slotId=${parkingSlot.id()}, lotId=${parkingLot.id()})}">REMOVE
                SLOT</a>
        </li>
    </th:block>
</ul>
<a th:href="@{/tl_parking_lots}">Tillbaka</a>
<a th:href="@{/tl_parking_lots/{lotId}/slots/add (lotId=${parkingLot.id()})}">New slot</a>
</body>
</html>