<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<main>

    <h1> Add parking lot</h1>

    <form method="post" th:action="@{/tl_parking_lots/add}" th:object="${parkingLot}">
        <p th:if="${constrainException}">Constrain Exception</p>
        <p>Name</p>
        <input name="name" th:field="*{name}" type="text"/></td>

        <button class="add" type="submit">Update</button>
    </form>

</main>
<a class="return" th:href="@{/tl_parking_lots}">Back</a>
<a class="logout" th:href="@{/logout}">Log out</a>
</body>
</html>