<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<main>

    <h1>Create new user</h1>

    <form method="post" th:action="@{/tl_users/create}" th:object="${user}">

        <p id="error-message" th:if="${constrainException}">Constrain Exception</p>

        <p>Name</p><input name="name" th:field="*{name}" type="text"/>
        <p>Email</p><input name="name" th:field="*{email}" type="text"/>
        <p>Password</p><input name="password" th:field="*{password}" type="password"/>
        <p>Email notification</p><input name="name" th:field="*{emailNotification}" type="checkbox"/>

        <button class="add" type="submit" value="Submit">Register</button>
    </form>
</main>
<a class="return" th:href="@{/login}">Go to login</a>
</body>
</html>